.form-group {
    font-family: 'Manrope', sans-serif;
    margin: 10px 0;
  }
  
  label {
    display: block;
    margin-bottom: 6px;
    font-weight: 700;
    color: #3d408a;
    font-family: 'Kumbh Sans';
    font-size:16px;
  }
  
  .required {
    color: red;
    margin-left: 2px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px 14px;
    height:48px;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    outline: none;
    transition: border 0.3s ease;
    border-width: 0px;
  }
  
  input[type="text"]:focus {
    border-color: #6c63ff;
  }
  input[type="text"]::placeholder {
    color: #bebcbc;
    font-weight: 400;
    font-size: 15px;
  }
  
.contact-container{
    padding:24px;
}  

.margin-input{
    margin-top: -36px;
}
.form-group {
    font-family: 'Manrope', sans-serif;
    margin: 10px 0;
  }
  
  label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    color: #3c3c6c;
  }
  
  .required {
    color: red;
    margin-left: 2px;
  }
  
  select {
    width: 100%;
    height:48px;
    padding: 10px 14px;
    font-size: 14px;
    color:#121212;
    border-width: 0px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23666" height="30" width="30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px 16px;
  }
  
  select:focus {
    border-color: #6c63ff;
    outline: none;
  }

.margin-dropdown{
    margin-top: -25px;
}

.form-group {
    font-family: 'Manrope', sans-serif;
    margin: 10px 0;
  }
  
  textarea {
    width: 100%;
    padding: 12px 14px;
    font-size: 14px;
    border: 0px;
    border-radius: 8px;
    resize: vertical;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    outline: none;
    transition: border 0.3s ease;
    font-family: inherit;
  }
  
  textarea::placeholder {
    color:#bebcbc;
    font-size: 14px;
  }
  
  textarea:focus {
    border-color: #6c63ff;
  }
  
.contactus-btn{
    text-align: center;
    align-items: center;
    background-color: #fcd660;
    height:48px;
    width:250px;
    border-radius: 20px;
    border-width: 0px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size:16px;
    font-weight: 500;
    color: #000000;
}
.btn-center{
    align-items: center;
    text-align: center;
}

.first-margin{
    margin-top:-12px;
}
.text-place{
    color:#bebcbc;
}